// Colours
$color-primary: #737be1;
$color-primary--darken: #4f58c9;
$color-primary--lighten: #e9eaf9;
$color-grey: #a0a0a0;
$color-grey--darken: #4c4c4c;
$color-text: #000;
$color-white: #fff;

// Transition
$transition: all 0.4s ease;
